$placeholder: #666666;
$border: #B8B8B8;
$focus: #FF7F8F;
.Input {
    user-select: none;
    align-items: center;
    justify-content: center;
    
    border: 1.5px solid $border;
    border-radius: 5px;
    outline: none;

    font-size: 1rem;
    font-family: 'Nanum Square Round';
    font-weight: 500;
    
    padding: 10px 10px;

    flex-grow: 1;
    
    &::placeholder{
        color: $placeholder;
        font-weight: 300;
    }

    &:focus {
        border: 1.5px solid $focus;
        outline: none;
    }
}